@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-brand-secondary;
}

#checkout select,
#checkout input[type="email"],
#checkout input[type="password"],
#checkout input[type="tel"],
#checkout input[type="text"],
#checkout textarea {
    @apply block w-full mb-2 rounded-xl;
    @apply border p-2 border-gray-300 bg-gray-100;
}
#checkout input[type="email"]:disabled,
#checkout input[type="password"]:disabled,
#checkout input[type="tel"]:disabled,
#checkout input[type="text"]:disabled {
    @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}
#checkout label{
    @apply text-gray-500 text-sm leading-tight;
}
#checkout label + input{
    margin-top: -2px;
}

.adminButton {
    @apply bg-blue-500 text-white px-4 py-2 rounded-lg
}

@keyframes float {
    0%{
      transform: translateX(-100%) translateY(0px);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateX(100%) translateY(0px);
    }
  }
  
.animate-float-24 {
    animation: float 24s linear infinite;
}

.animate-float-30 {
    animation: float 30s linear infinite;
}

.animate-float-36 {
    animation: float 36s linear infinite;
}

.animate-float-40 {
    animation: float 40s linear infinite;
}

.animate-float-50 {
    animation: float 50s linear infinite;
}